# Java Maven
target/
**/target/

# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Other
*.log
